@charset "utf-8";
/* CSS Document */
 td,th, input, textarea, select, button,div{ color:#333b3d; font:12px Microsoft YaHei,Arial,\5b8b\4f53,sans-serif; }
body, ul, dl, dd, p, h1, h2, h3, h4, li, h5, h6, form, div,fieldset,input,label { margin:0; padding:0; }
a img{ border:none; zoom:1;}
em, cite, th{ font-style:normal; font-weight:normal; }
table{ border-collapse:collapse; }
ul,li{list-style:none;}
html{width:100%;height:100%;}
body{color:#333b3d; background:#93dde8; font:12px Microsoft YaHei,Arial,\5b8b\4f53,sans-serif;}
body a{outline:none;blr:expression(this.onFocus=this.blur());}
.home{width:1280px; height:auto; margin-left:auto; margin-right:auto;}
/* CSS--首页-- */
#main{width:1280px; height:700px; position:relative;}
	.bg_01{background:url(img/index_bg.jpg) no-repeat;}
	.bg_02{background:url(img/public_bg.jpg) no-repeat;}
	
	.link_a{width:100%; height:100%; display:block; font-size:0;text-indent:-1000px; text-decoration:none; color:#000000;}
	.logo{width:77px; height:100px; position:absolute; left:50px; top:35px; background:url(img/logo.png) no-repeat; z-index:99;}
	.size{width:258px; height:16px; background:url(img/white_size.png) no-repeat; position:absolute; bottom:15px; left:190px;}
		.size a{display:block; font-size:0;text-indent:-1000px;}
		.size a.member{width:54px; height:16px; float:left; margin-left:22px; display:inline;}
		.size a.goto{width:70px; height:16px; float:left; margin-left:35px; display:inline;}
	.content{width:577px; height:104px; position:absolute; top:315px; left:630px;}
		.menu_01{width:102px; height:102px; position:absolute; left:0px; top:0px;}
			.menu_01 a,.menu_02 a,.menu_03 a,.menu_04 a
			{width:102px; height:102px;display:block; text-indent:-9999px; background-image:url(img/menu.png);}
			.menu_01 a{ background-position:0 -102px;}
			.menu_01 a:hover{ background-position:0 0;}
		.menu_02{position:absolute; left:158px; top:0px;}
			.menu_02 a{ background-position:-159px -102px;}
			.menu_02 a:hover{ background-position:-159px 0;}
		.menu_03{position:absolute; left:318px; top:0px;}
			.menu_03 a{ background-position:-317px -102px;}
			.menu_03 a:hover{ background-position:-317px 0;}
		.menu_04{position:absolute; left:475px; top:0px;}
			.menu_04 a{ background-position:-475px -102px;}
			.menu_04 a:hover{ background-position:-475px 0;}
			
	.app_fx{width:84px; height:21px; background:url(img/fx_size.png) 0 2px no-repeat; position:absolute; bottom:9px; left:455px;}
		  .sharePage{float: right;}
		  .sharePage a{float:left; background-image:url(img/fx_img.png); background-repeat:no-repeat; height:21px; -moz-opacity: 0.80; opacity: 0.80;}
		  .sharePage a.sinaIcon{width:21px; background-position: 0px 0px;}
		  .sharePage a.qqIcon{width:21px; background-position: -25px 0px;}
		  .sharePage a.kaixinIcon{width:21px; background-position: -49px 0px;}
		  .sharePage a.renrenIcon{width:21px; background-position: -73px 0px;}
		  .sharePage a:hover{width:21px; -moz-opacity:1.0; opacity:1.0;}
		  
	.menu_box{width:370px; height:110px; background:url(img/menu1.png) no-repeat; position:absolute; top:25px; right:30px; z-index:99;}
		.menu_ul{width:370px; height:110px;}
		.menu_ul a{width:100%; height:100%; display:block; font-size:0;text-indent:-1000px;}
			.menu_li01{width:84px; height:72px; position:absolute; left:0; top:0; z-index:1;}
			.menu_li02{width:84px; height:72px; position:absolute; left:70px; top:38px; z-index:2;}
			.menu_li03{width:84px; height:72px; position:absolute; left:142px; top:0; z-index:3;}
			.menu_li04{width:84px; height:72px; position:absolute; left:213px; top:38px; z-index:4;}
			.menu_li05{width:84px; height:72px; position:absolute; right:0; top:0; z-index:5;}
			
/*css--体侧报告--题目--*/	
		.course_box{width:555px; height:326px; position:absolute; right:140px; top:185px; background:url(img/course_1.png) no-repeat; padding:5px 0 0 290px;}
		.course_box ul{width:550px; height:65px; float:left; padding-left:5px;}
		.course_box li{width:107px; height:42px; float:left; padding:23px 0 0 3px;}
		.course_box li label {padding-left:30px; background:url(img/unchecked.png) no-repeat; display:block; height:20px; line-height:20px; color: #0072bb;}
		.course_box li label.checked{padding-left:30px;background:url(img/checked.png) no-repeat;color:#0072bb;display:block;height:20px; line-height:20px;}
		.course_box li label.over {color: #3290c6; line-height:20px;}
		.btm_appoin{width:122px; height:39px; position:absolute; left:590px; bottom:130px; background:url(img/btn_determine.jpg) no-repeat;}
/*css--体侧报告--题目--*/	
		.scores_box{width:548px; height:65px; float:left; padding-left:7px;}
		.scores_box .scores_title{width:548px; height:45px; padding:20px 0 0 0; line-height:24px; font-size:14px; font-weight:bold;}
		.scores_box .scores_le{float:left; width:70px; height:60px; font-weight:bold; font-size:24px; line-height:56px; color:#f1524e; padding-top:5px;}
		.scores_box .scores_ri{float:left; width:470px; height:57px; padding-top:8px;}
		.scores_box .scores_ri p{line-height:16px; width:418px;}
		.btm_look{width:190px; height:39px; position:absolute; left:590px; bottom:130px; background:url(img/btn_look.jpg) no-repeat;}
/*css--艺术家作品--*/	
		.appointment_box{width:717px; height:346px; position:absolute; right:250px; top:200px; background:url(img/appointment_bg.png) no-repeat;}
		.appointment2_box{width:717px; height:346px; position:absolute; right:250px; top:200px;background:url(img/appointment2_bg.png) no-repeat;}
			.appoin_menu1{width:242px; height:242px; position:absolute; left:0; top:30px;}
			.appoin_name{width:230px; height:28px; position:absolute; right:133px; top:60px;}
			.appoin_phone{width:230px; height:28px; position:absolute; right:133px; top:105px;}
			.input_box{width:218px; height:28px; line-height:28px; margin:0 5px; border:0;}
			.selct_cz1{width:230px; height:37px; position:absolute; right:133px; top:222px;}
			.selct_cz2{width:230px; height:37px; position:absolute; right:133px; top:177px;}
			.appoin_menu{width:230px; height:39px; position:absolute; right:133px; top:287px; background:url(img/btn_appointment.png) no-repeat;}
			.appoin_menu a{display:block;text-indent:-1000px; text-decoration:none;}
			.appoin_menu a.black{width:82px; height:39px; float:left;}
			.appoin_menu a.yuyue{width:141px; height:39px; float:right;}
			
		/* 下拉列表特殊 css 样式*/
		#uboxstyle .select_box {WIDTH: 230px; HEIGHT: 37px;	}
		#uboxstyle DIV.tag_select {PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; WIDTH: 230px; COLOR: #747474; LINE-HEIGHT: 37px; PADDING-TOP: 0px; HEIGHT: 37px; font-size:14px;}
		#uboxstyle DIV.tag_select_hover {PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; WIDTH: 230px; COLOR: #747474; LINE-HEIGHT: 37px; PADDING-TOP: 0px; HEIGHT: 37px; font-size:14px;}
		#uboxstyle DIV.tag_select_open {PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; WIDTH: 210px; COLOR: #747474; LINE-HEIGHT: 37px; PADDING-TOP: 0px; HEIGHT: 37px; font-size:14px;}
		#uboxstyle UL.tag_options {PADDING-RIGHT: 0px; PADDING-LEFT: 0px;max-height:111px; _height:111px; overflow-y:scroll; overflow-x:hidden; MARGIN: 0px; WIDTH: 228px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute;font-size:14px; background:#FFFFFF; border:1px solid #00bff2; border-top:0;}
		#uboxstyle UL.tag_options LI {PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; WIDTH: 210px; COLOR: #747474; LINE-HEIGHT: 37px; PADDING-TOP: 0px; HEIGHT: 37px; TEXT-DECORATION: none; font-size:14px;}
		#uboxstyle UL.tag_options LI.open_hover {COLOR: #333; background:#f1ebed;}
		#uboxstyle UL.tag_options LI.open_selected {COLOR: #333; background:#f1ebed;}
		/* END 下拉列表特殊 css 样式*/
		
/*css--艺术家作品--*/	
		.appointment{width:1258px; height:651px; position:absolute; top:0px; left:22px; background:url(img/appointment1_bg.png) no-repeat;}	
			.set1 span,.set2 span,.set3 span,.set4 span,.set5 span{color:#fef8f0;}
			.app_header1{width:538px; height:226px; position:absolute; top:0; left:301px; z-index:1;}
			.bg_hover_01,.set1{background:url(img/t1.png) no-repeat;}
			.app_size1,.sep1{width:35px; height:20px; position:absolute; left:97px; top:172px; color:#1b75bb;}
			
			.app_header2{width:507px; height:240px; position:absolute; top:203px; left:307px; z-index:2;}
			.bg_hover_02,.set2{background:url(img/t2.png) no-repeat;}
			.app_size2{width:35px; height:20px; position:absolute; left:87px; top:190px; color:#1b75bb;}
			.app_menu2,.sep2{width:137px; height:26px; position:absolute; left:174px; top:178px; z-index:5; display:block; text-indent:-9999px;}
			
			.app_header3{width:456px; height:230px; position:absolute; bottom:0px; left:323px; z-index:3;}
			.bg_hover_03,.set3{background:url(img/t3.png) no-repeat;}
			.app_size3,.sep3{width:35px; height:20px; position:absolute; left:76px; top:175px; color:#1b75bb;}
			
			.app_header4{width:501px; height:239px; position:absolute; top:204px; right:0px; z-index:4;}
			.bg_hover_04,.set4{background:url(img/t4.png) no-repeat;}
			.app_size4{width:35px; height:20px; position:absolute; left:86px; top:192px; color:#1b75bb;}
			.app_menu4,.sep4{width:137px; height:26px; position:absolute; left:180px; top:180px; z-index:5; display:block; text-indent:-9999px;}
			
			.app_header5{width:526px; height:230px; position:absolute; bottom:0px; right:0px; z-index:5;}
			.bg_hover_05,.set5{background:url(img/t5.png) no-repeat;}
			.app_size5,.sep5{width:35px; height:20px; position:absolute; left:110px; top:174px; color:#1b75bb;}
/*css--登陆--*/	
		.logoin{width:607px; height:306px; position:absolute; top:200px; right:208px; background:url(img/logoin_bg.png) no-repeat;}
			.logoin_menu{width:63px; height:83px; position:absolute; left:0; top:130px;}
			.number{width:230px; height:28px; position:absolute; right:179px; top:142px;}
			.password{width:230px; height:28px; position:absolute; right:179px; top:187px;}
			.logoin_btm{width:122px; height:39px; position:absolute; top:232px; left:198px; background:url(img/logoin_btn.jpg) no-repeat;}
/*css--查看报告--*/			
		.check_box{width:598px; height:429px; position:absolute; top:152px; right:332px; background:url(img/check_bg.png) no-repeat;}
			.check_size{width:35px; height:20px; position:absolute; bottom:6px; left:249px;}
			.check_menu1{width:229px; height:229px; position:absolute; top:0; left:11px;}
			.check_menu2{width:229px; height:229px; position:absolute; top:0; right:0;}
		
/*css--活动简介--*/		
		.introduction_box{width:1176px; height:615px; position:absolute; right:0; top:0; background:url(img/introduction.png) no-repeat;}
/*css--完整报告--*/
		.full_repot{width:902px; height:442px; position:absolute; right:92px; top:130px;}
			.full_repot_box{width:788px; height:442px; background:url(img/full_report.png) no-repeat; margin-left:57px;}
				.repot_01{width:132px; height:16px; position:absolute; top:10px; left:500px; color:#1b75bb;}
				.repot_01 strong{color:#1b75bb;}
				.repot_02{width:65px; height:65px; position:absolute; top:32px; left:96px; font-size:55px; color:#FFF;}
				.repot_03{width:560px; height:auto; line-height:16px; position:absolute; left:230px; top:66px; color:#3f3f3f;}
					.weizhi01{position:absolute; left:102px; top:176px;}
					.weizhi02{position:absolute; left:230px; top:283px;}
				.repot_04{width:190px; height:39px; position:absolute; left:82px; bottom:0; background:url(img/share_btn.jpg) no-repeat;}
				.repot_05{width:90px; height:27px; position:absolute; left:300px; bottom:0;}
				.repot_05 a {width:17px; height:17px; float:left; cursor:pointer;}
				.repot_05 a span{width:17px; height:17px; float:left; text-indent:-1000px; background:url(img/checkbox.png);background-repeat:no-repeat; background-position:0px -19px;}
				span.repot_05{background-position:0 0;}
				a.active span.hz_hover{background-position:0px 0px;}
			.full_repot_left{width:34px; height:92px; position:absolute; left:0; top:185px; background:url(img/full_left.png) no-repeat;}
			.full_repot_right{width:34px; height:92px; position:absolute; right:0; top:185px; background:url(img/full_right.png) no-repeat;}
			
			
			
		.instructions{width:450px; height:260px; position:absolute; top:150px; left:120px;}
		.instructions a{display:block; text-indent:-9999px; background-image:url(img/menu_lohas.png);}
		.instructions a.absolute_011{position:absolute; left:112px; top:0px; width:84px; height:121px; background-position:-105px -4px;}
		.instructions a.absolute_022{position:absolute; left:245px; top:0px; width:117px; height:125px; background-position:-236px -4px;}
		.instructions a.absolute_033{position:absolute; left:9px; top:128px; width:103px; height:124px; background-position:0 -132px;}
		.instructions a.absolute_044{position:absolute; left:175px; top:128px; width:114px; height:119px; background-position:-166px -132px;}
		.instructions a.absolute_055{position:absolute; left:321px; top:136px; width:102px; height:121px; background-position:-314px -138px;}
			
		  
/*css--弹框--*/	
#markDiv{position:fixed;_position:absolute;z-index:9998;left:0;top:0;width:100%;height:100%;_height:650px;background:#000;opacity:0.3;filter:alpha(opacity=30);-ms-filter:"alpha(opacity=30)";display:none;}
#rule_box1{width:547px;height:227px;position:absolute;top:140px;left:50%;margin:0 0 0 -273px;z-index:9999;display:none;}
#rule_box1 a{text-indent:-9999px;display:block;}
.close{width:38px;height:38px;background:url(img/close.png) no-repeat;position:absolute;top:-16px;right:-16px;}
.complete_close{width:141px;height:39px;background:url(img/btn_complete.jpg) no-repeat;position:absolute;top:150px;right:160px;}
.art_l{background:url(img/alert_complete.jpg) no-repeat;}