@charset "utf-8";
/* CSS Document */
 td,th, input, textarea, select, button,div{ color:#333b3d; font:12px Microsoft YaHei,Arial,\5b8b\4f53,sans-serif; }
body, ul, dl, dd, p, h1, h2, h3, h4, li, h5, h6, form, div,fieldset,input,label { margin:0; padding:0; }
a img{ border:none;}
table{ border-collapse:collapse; }
ul,li{list-style:none;}
html{width:100%;height:100%;}
body{color:#333b3d; font:12px Microsoft YaHei,Arial,\5b8b\4f53,sans-serif;}
body a{outline:none;blr:expression(this.onFocus=this.blur());}
/* CSS--首页-- */
#main{width:1024px; height:768px; position:relative; margin:0 auto;}
	.bg_01{background:url(img/main_bg.jpg) no-repeat;}
	.bg_02{background:url(img/main_bg2.jpg) no-repeat;}

.logo{width:78px; height:100px; position:absolute; top:25px; left:40px;}
.logo a{width:78px; height:100px; display:block; background:url(img/logo.png) no-repeat; text-indent:-9999px;}

.column{width:600px; height:36px; position:absolute; left:390px; top:160px;}
.column2{width:600px; height:auto; position:absolute; left:340px; top:190px;}
.column3{width:600px; height:auto; position:absolute; left:340px; top:150px;}
.column_time{width:135px; height:16px; position:absolute; top:10px; left:280px; color:#1b75bb;}
.column_time strong{color:#1b75bb;}

.content{width:600px; height:400px; position:absolute; left:310px; top:228px;}
.content1{width:909px; height:540px; position:absolute; right:0px; top:220px;}
.content2{width:720px; height:440px; position:absolute; right:90px; top:260px;}
/* CSS--登录-- */
.login{width:552px; height:174px; background:url(img/login_bg.png) no-repeat;}
	.number{width:249px; height:28px; position:absolute; left:82px; top:3px;}
	.password{width:249px; height:28px; position:absolute; left:82px; top:43px;}
	.input_box{width:239px; height:28px; line-height:28px; margin:0 5px; border:0; font-size:16px; color:#000000;}
	.login_btn{width:132px; height:42px; position:absolute; top:85px; left:82px;}
	.login_btn a{width:132px; height:42px; display:block; text-indent:-9999px; background:url(img/login_btn.jpg) no-repeat;}
/* CSS--确认您的会员信息-- */
.confirm{width:552px; height:260px; background:url(img/confirm_bg.png) 0 10px no-repeat;}
	.confirm_kh{width:218px; height:28px; position:absolute; top:4px; left:98px; padding:0 13px; line-height:28px; font-size:18px; color:#0072bc; font-family:"Arial";}
	.confirm_xm{width:218px; height:28px; position:absolute; top:48px; left:98px; padding:0 13px; line-height:28px; font-size:18px; color:#0072bc;}
	.confirm_ph{width:249px; height:28px; position:absolute; top:96px; left:98px;}
	.confirm_em{width:249px; height:28px; position:absolute; top:137px; left:98px;}
	.input_box1{width:225px; height:28px; line-height:28px; margin:0 12px; border:0; font-size:16px; color:#000000;}
	.confirm_btn{width:132px; height:42px; position:absolute; top:210px; left:98px;}
	.confirm_btn a{width:132px; height:42px; display:block; text-indent:-9999px; background:url(img/confirm_btn.jpg) no-repeat;}
/* CSS--开始测试-- */
.start{width:620px; height:330px; background:url(img/start_bg.png) no-repeat; padding-left:289px;}
	.start ul{width:590px; height:65px; float:left; padding:1px 0px 0px 1px;}
	#fx1,#fx2{padding-top:2px;}
	.start li{width:112px; height:40px; float:left; padding:20px 0 0 3px;}
	.start li label {padding-left:30px; background:url(img/unchecked.png) no-repeat; display:block; height:20px; line-height:20px; color: #0072bb; font-size:16px; font-weight:bold;}
	.start li label.checked{padding-left:30px;background:url(img/checked.png) no-repeat;color:#0072bb;display:block;height:20px; line-height:20px;}
	.start li label.over {color: #3290c6; line-height:20px;}
	.start_btn{width:132px; height:42px; position:absolute; left:390px; top:350px;}
	.start_btn a{width:132px; height:42px; display:block; text-indent:-9999px; background:url(img/confirm_btn.jpg) no-repeat;}
/* CSS--项目得分-- */	
.project{width:620px; height:445px; background:url(img/project_bg.png) no-repeat; padding-left:289px;}
.project_btn{width:208px; height:42px; position:absolute; left:276px; top:466px;}
.project_btn a{width:208px; height:42px; display:block; text-indent:-9999px; background:url(img/project_btn.jpg) no-repeat;}
	.scores_box{width:580px; height:auto; float:left; padding-left:18px;}
	.scores_box .scores_title{width:548px; height:52px; padding:18px 0 0 0; line-height:24px; font-size:18px;}
	.scores_box .scores_le1{float:left; width:70px; height:84px; font-size:24px; line-height:80px; color:#f1524e; padding-top:10px;}
	.scores_box .scores_ri1{float:left; width:470px; height:56px; padding-top:38px;}
	.scores_box .scores_ri1 p{line-height:20px; font-size:16px; width:465px;}
	

	.scores_box .scores_le2{float:left; width:70px; height:70px; font-size:24px; line-height:50px; color:#f1524e; padding-top:18px;}
	.scores_box .scores_ri2{float:left; width:470px; height:56px; padding-top:32px;}
	.scores_box .scores_ri2 p{line-height:20px; font-size:16px; width:465px;}
	
	.scores_box .scores_le3{float:left; width:70px; height:68px; font-size:24px; line-height:50px; color:#f1524e; padding-top:15px;}
	.scores_box .scores_ri3{float:left; width:470px; height:56px; padding-top:27px;}
	.scores_box .scores_ri3 p{line-height:20px; font-size:16px; width:465px;}
	
	.scores_box .scores_le{float:left; width:70px; height:76px; font-size:24px; line-height:56px; color:#f1524e; padding-top:5px;}
	.scores_box .scores_ri{float:left; width:470px; height:56px; padding-top:23px;}
	.scores_box .scores_ri p{line-height:20px; font-size:16px; width:465px;}
	

/* CSS--体测报告-- */		
.cervix{width:904px; height:540px; background:url(img/cervix_bg.png) no-repeat; float:right;}
	.repot_01{width:132px; height:16px; position:absolute; top:10px; left:500px; color:#1b75bb;}
	.repot_01 strong{color:#1b75bb;}
	.repot_02{width:65px; height:65px; position:absolute; top:14px; left:140px; font-size:50px; color:#FFF; text-align:center;}
	.repot_03{width:560px; height:auto; position:absolute; left:272px; top:13px; color:#3f3f3f; font-size:17px; line-height:28px;}
		.weizhi01{position:absolute; left:142px; top:178px;}
		.weizhi02{position:absolute; left:270px; top:346px;}
	.repot_04{width:229px; height:39px; position:absolute; left:122px; bottom:20px; }
	.repot_04 a{width:229px; height:39px; display:block; text-indent:-9999px; background:url(img/cervix_btn.jpg) no-repeat;}
	#content{width:566px; height:86px;resize:none; color:#3f3f3f; font-size:17px; line-height:28px;}
/*css--弹框--*/	
	#markDiv{position:fixed;_position:absolute;z-index:9998;left:0;top:0;width:100%;height:100%;_height:768px;background:#000;opacity:0.3;filter:alpha(opacity=30);-ms-filter:"alpha(opacity=30)";display:none;}
	#rule_box1{width:547px;height:227px;position:absolute;top:140px;left:50%;margin:0 0 0 -273px;z-index:9999;display:none;}
	#rule_box1 a{text-indent:-9999px;display:block;}
	.close{width:48px;height:48px;background:url(img/close.png) no-repeat;position:absolute;top:-20px;right:-20px;}
	.complete_close{width:141px;height:39px;background:url(img/alert_btn.jpg) no-repeat;position:absolute;top:150px;right:160px;}
	.art_l{background:url(img/alert_em.jpg) no-repeat;}
/*css--轨迹--*/	
	.trajectory{width:720px; height:373px; background:url(img/trajectory_bg.png) no-repeat;}
		.number1{width:239px; height:28px; position:absolute; left:3px; top:45px;}
		.password1{width:279px; height:28px; position:absolute; left:250px; top:45px;}
		.input_box1{width:229px; height:28px; line-height:28px; margin:0 5px; border:0; font-size:16px; color:#000000;}
		.input_box2{width:269px; height:28px; line-height:28px; margin:0 5px; border:0; font-size:16px; color:#000000;}
		.login_btn1{width:178px; height:47px; position:absolute; top:35px; right:0px;}
		.login_btn1 a{width:178px; height:47px; display:block; text-indent:-9999px; background:url(img/trajectory_btn.png) no-repeat;}
		
/*css--轨迹--记录--*/	
	.trajectory_list{width:720px; height:373px; background:url(img/trajector_list_bg.png) no-repeat;}
		.trajectory_size{width:130px; height:100px; line-height:100px; font-size:100px; position:absolute; left:230px; top:80px; text-align:center; font-weight:bold; color:#FFF; font-family:"Arial";}
		.trajectory_img{width:134px; height:134px; position:absolute; left:468px; top:54px;}
		.trajectory_btn{width:144px; height:38px; position:absolute; left:234px; top:300px;}
		.trajectory_btn a{width:144px; height:38px; display:block; text-indent:-9999px; background:url(img/back_btn.png) no-repeat;}
/*css--签到--*/	
	.sign_in{width:720px; height:373px; background:url(img/sign_in_bg.png) 190px 10px no-repeat;}
	
	